 img{
    border-radius: 50%;
    border: 2px solid aquamarine;
    margin-left: 300px;
    margin-top: 100px;
    
    
}
.appear{
    position: absolute;
    opacity: 0.8;
}
.loginbox{
   display: block;
    background-color: black;
    position: absolute;
    font-weight: 800;
    color: white;
    border: 2px solid black;

}


 img:hover{
    border: 10px solid black;
    transition: all .4s ease-in-out;
    transform: rotate(360deg);
}
body{
  
    background-position: center;
    background-repeat: no-repeat;
}