{% load static %}
<!doctype html>
<meta charset="utf-8">
<head>
    <script>
        function myclick(){
            Comment("hiii")
        }
    </script>
</head>
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<div class="menubar">
    
        <div class="id1">
            <img src="{% static 'images/BuyME.png' %}">
            </div>
    <nav class="list1">
    <ul>
       <a onclick="myclick()">Help</a>
     <li>About</li>
    <li>SignIn</li>
</ul>
    </nav>
</div>


<body>
    <div class="loginbox">
        <label>Username</label><br>
        <input type="text" name="Username" placeholder="Username"><br>
        <label>Password</label><br>
        <input type="password" name="password" placeholder="Pass-word" maxlength="10"><br>
        <h3>Dont Have an Account </h3><a href="{% url signin % }">Create One</a>
        <br><button>Login</button><br>

    </div>
    
</body>
</html>

